<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">欢迎来到<br /> Web Chat!</h1>
        <p class="splash-subhead">
            这是一个在线聊天web应用测试版本.
        </p>
        <p>
            <%= link_to "进入登陆页面", sessions_login_path, class: "pure-button pure-button-primary"  %>
        </p>
    </div>
</div>

<div class="content-wrapper" style="left: 0px;">
    <div class="content">
        <h2 class="content-head is-center">主要用到以下技术及工具.</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Ruby on Rails
                </h3>
                <p>
                    Ruby on Rails 是一个可以使你开发、部署、维护 web 应用程序变得简单的框架
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Bootstrap and Pure
                </h3>
                <p>
                    网页的UI大部分使用Bootstrap框架和yahoo的Pure模板
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Github
                </h3>
                <p>
                    开发和测试时的代码维护在Github
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                     Heroku
                </h3>
                <p>
                    产品阶段部署在Heroku，这是一种PaaS，能够完全免费的在云中构建，运行和运行应用程序
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <%= image_tag("file-icons.png", class: "pure-img-responsive") %>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">相关链接.</h2>
            <p>
                这个web在线聊天工具，是在
                RailChat基础上完成,<a href="https://github.com/PENGZhaoqing/RailsChat">点击进入</a>
            </p>
            <p>
                部署的在线测试版本地址,<a href="https://desolate-shelf-85271.herokuapp.com">点击进入</a>
            </p>
            <p>
                项目代码的Github地址,<a href="https://github.com/tanqingyao/RailsChat">点击进入</a>
            </p>
        </div>
    </div>
</div>