<div class="container text-center">    
  <div class="row">

    <div class="col-sm-10">

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <h1>管理所有用户</h1>  
            </div>
          </div>
        </div>
      </div>

      <%= render @users %>

    </div>

    <div class="col-sm-10 text-right" style="margin-bottom: 2rem;">
        <%= will_paginate %>
    </div>
  </div>
</div>